numpy
cython
spacy==3.7.1
thinc
bs4
requests
rapidfuzz
huggingface_hub
tavily-python
streamlit
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz


